.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;

    &.active {
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
